.HoverColorBlotch{ border: 2px solid #aaa; cursor: pointer;}
#SelectedColorBlotch { border: 2px solid black; }
.hidden { display: none; }
span.ColorBlotch {	padding: 2ex 2em 0 0;  }
/**#colorpicker { padding: 2ex; }	 **/
#colorpicker { padding: 1px; margin: 5px; }
/*#colorpicker-div { width: 15%; float: left; } */
#colorpicker-div div, #colorpicker-div label { display: inline; }
#colorpicker-div { padding: 1ex 0 3ex 0;}