.picksymbol {
  display: inline;
  padding: .5em;
}

.picksymbol: hover {
  background-color: #ffff00;
}

.selectedsymbol {
  border-width: medium;
  border-color: 00ffff;
  border-style: solid;
}

.outlined {
  border-width: medium;
  border-color: 00ffff;
  border-style: solid;
}  