.resizeHandler, .ui-resizable-handle {
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #ddd;
	border: 1px solid #fff;
	overflow: hidden;		
}
.resizeSE, .ui-resizable-se {
	bottom: -10px;
	right: -10px;
	cursor: se-resize;
	
	background-image: url("../images/se3.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 50%;
}

.resizeE, .ui-resizable-e {
	top: 10%;
	right: -10px;
/*	margin-top: -5px;*/
	height: 80%;
	cursor: e-resize;
	background-image: url("../images/e3.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 50%;
}

.resizeS, .ui-resizable-s {
	bottom: -10px;
	left: 10%;
	/*margin-left: -5px;*/
	cursor: s-resize;
	width: 80%;
	background-image: url("../images/s3.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 50%;
}


.resizeMe {
	position: absolute;
	width: 60px;
	height: 120px;
	cursor: move;
	background-color:transparent;
/*	opacity: .8;
	filter: alpha(opacity=80);*/
}

.outlineNE {
	top: -10%;
	right: -10px;
}
.outlineN {
	top: -10px;
	left: 50%;
	margin-left: -5px;
}
.outlineNW {
	top: -10px;
	left: -10px;
}
.outlineW {
	top: 50%;
	left: -10px;
	margin-top: -5px;
}
.outlineSW {
	left: -10px;
	bottom: -10px;
}



.proxy {
border:1px dashed #000000;
}






.resizeNE {
	top: -10px;
	right: -10px;
	cursor: ne-resize;
}
.resizeN {
	top: -10px;
	left: 50%;
	margin-left: -5px;
	cursor: n-resize;
}
.resizeNW {
	top: -10px;
	left: -10px;
	cursor: nw-resize;
}
.resizeW {
	top: 50%;
	left: -10px;
	margin-top: -5px;
	cursor: w-resize;
}
.resizeSW {
	left: -10px;
	bottom: -10px;
	cursor: sw-resize;
}



/*.resizeHandler {
	position: absolute;
	background-color: #ddd;
	border: 1px solid #fff;
	overflow: hidden;		
	display: block;
}

.resizeSW,
.resizeSE,
.resizeNE,
.resizeNW 
{
	width: 10px;
	height: 10px;
}


.resizeSE {
	cursor: se-resize;
}
.resizeSW {
	cursor: sw-resize;
}
.resizeNE {
	cursor: ne-resize;
}
.resizeNW {
	cursor: nw-resize;
}


.resizeE { 
	width: 10px; 
	top: 30px; 
	bottom: 30px; 
	cursor: e-resize;
}

.resizeN { 
	height: 10px; 
	left: 30px; 
	right: 30px; 
	cursor: n-resize;
}

.resizeW {
	width: 10px; 
	top: 30px; 
	bottom: 30px; 
	cursor: w-resize;
}

.resizeS {
  height: 10px; 
	left: 30px; 
	right: 30px
	cursor: s-resize;
}
*/