.ui-tabs-nav li {
	list-style-type: none;
	background: none;
}
	
	
/**#colorpicker-div {
	float: left;
}**/

 #control-field-thing {
 width: 80%;
 }
 
.ui-tabs-nav li.throbber {
  background:url(../images/status-active.gif) no-repeat left center;
}



/************ PANELS *************/
#panel_edit_shape, #panel_add_shape {
  height: 20ex;
  vertical-align: middle;
}